<section class="sect1 pb-3">
    <!--large screen view part1-->
    <div class="container-fluid d-none d-md-block">
        <div class="row pt-3">
            <div class="col-lg-1"></div>
            <div class="col-md-2 col-lg-2 text-start">
                <h6>Popular Locations</h6>
                <ul class="text-start">
                    <li>Kolkata</li>
                    <li>Mumbai</li>
                    <li>Chennai</li>
                    <li>Pune</li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 text-start">
                <h6>Trending Locations</h6>
                <ul class="text-start">
                    <li>Bhubaneshwar</li>
                    <li>Hyderabad</li>
                    <li>Chandigarh</li>
                    <li>Nashik</li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 text-start">
                <h6>About us</h6>
                <ul class="text-start">
                    <li>About BLX Group</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                    <li>BLX People</li>
                    <li>Waah Jobs</li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 text-start">
                <h6 class>BLX</h6>
                <ul class="text-start">
                    <a routerLink=''>
                        <li>Help</li>
                    </a>
                    <li>Sitemap</li>
                    <li>Legal & Privacy information</li>
                    <li>Blog</li>
                    <li>BLX Autos Sell Car</li>
                    <li>Vulnerability Disclosure Program</li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-2 text-start">
                <h6>Follows us</h6>
                <div class="d-flex social">
                    <a href="https://www.facebook.com/olxindia/" target="_blank"><i class="pi pi-facebook me-3"
                            style="font-size: 1.5rem;color:#000;"></i></a>
                    <a href="https://www.instagram.com/olx_india/" target="_blank"><i class="pi pi-twitter me-3"
                            style="font-size: 1.5rem;color:#000;"></i></a>
                    <a href="https://twitter.com/OLX_India" target="_blank"><i class="pi pi-instagram me-3"
                            style="font-size: 1.5rem;color:#000;"></i></a>
                    <a href="https://www.youtube.com/user/OLXInTv" target="_blank"><i class="pi pi-youtube me-3"
                            style="font-size: 1.5rem;color:#000;"></i></a>
                </div>
                <a href="https://apps.apple.com/in/app/olx-buy-sell-near-you/id913492792?utm_source=desktop_ios&utm_medium=home_banner&utm_campaign=home"
                    target="_blank">
                    <img class="mt-5 me-3" src="{{appstore}}"></a>
                <a href="https://apps.apple.com/in/app/olx-buy-sell-near-you/id913492792" target="_blank">
                    <img class="mt-5" src="{{playstore}}"></a>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
     <!--small screen view part1-->
    <div class="container-fluid d-sm-block d-md-none text-center" id="menu1">
        <div class="accordion accordion-flush mb-3" id="accordionFlushExample">
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Popular Locations
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Kolkata</li>
                            <li>Mumbai</li>
                            <li>Chennai</li>
                            <li>Pune</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Trending Locations
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Bhubaneshwar</li>
                            <li>Hyderabad</li>
                            <li>Chandigarh</li>
                            <li>Nashik</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        About us
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>About BLX Group</li>
                            <li>Careers</li>
                            <li>Contact Us</li>
                            <li>BLX People</li>
                            <li>Waah Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        BLX
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <a routerLink=''>
                                <li>Help</li>
                            </a>
                            <li>Sitemap</li>
                            <li>Legal & Privacy information</li>
                            <li>Blog</li>
                            <li>BLX Autos Sell Car</li>
                            <li>Vulnerability Disclosure Program</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex">
                <h6 class=" mt-1 me-3">Follows us</h6>
                <a href="https://www.facebook.com/olxindia/" target="_blank"><i class="pi pi-facebook me-3"
                        style="font-size: 1.5rem;color:#000;"></i></a>
                <a href="https://www.instagram.com/olx_india/" target="_blank"><i class="pi pi-twitter me-3"
                        style="font-size: 1.5rem;color:#000;"></i></a>
                <a href="https://twitter.com/OLX_India" target="_blank"><i class="pi pi-instagram me-3"
                        style="font-size: 1.5rem;color:#000;"></i></a>
                <a href="https://www.youtube.com/user/OLXInTv" target="_blank"><i class="pi pi-youtube me-3"
                        style="font-size: 1.5rem;color:#000;"></i></a>
            </div>
            <div class="d-flex">
                <a href="https://apps.apple.com/in/app/olx-buy-sell-near-you/id913492792?utm_source=desktop_ios&utm_medium=home_banner&utm_campaign=home"
                    target="_blank">
                    <img class="mt-2 me-3" src="{{appstore}}"></a>
                <a href="https://apps.apple.com/in/app/olx-buy-sell-near-you/id913492792" target="_blank">
                    <img class="mt-2" src="{{playstore}}"></a>
            </div>
        </div>
    </div>
</section>
 <!--part2-->
<section class="sect2">
    <div class="container-fluid">
        <div class="row d-flex pt-3 pb-3">
            <div class="col-lg-1"></div>
            <div class="col-sm-12 col-md-6 col-lg-5 text-start">
                <span><b>Other countries</b></span><br />
                <span id="countries">Indonesia - Pakistan - South Africa</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 text-end">
                <span>All rights reserved © 2006-2023 BLX</span>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>