h6 {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    cursor: pointer;
    margin-left: -32px;
}

ul a {
    text-decoration: none;
    color: #212529;
}

img {
    width: 90px;
    height: 30px
}

.sect1 {
    background-color: #acb6eb;
    color:#000000;
    font-weight: 400;
}

.sect2 {
    background-color: #626fb8;
    color: #000000;
    font-weight: 500;
}

.social {
    margin-left: -2px;
}

#countries {
    cursor: pointer;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

