h6 {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    cursor: pointer;
    margin-left: -32px;
}

ul a {
    text-decoration: none;
    color: #212529;
}

img {
    width: 90px;
    height: 30px
}

.sect1 {
    background-color:#acb6eb;
}

.sect2 {
    background-color:#626b9e ;
    color: #FFFFFF;
}

.social {
    margin-left: -2px;
}

#countries {
    cursor: pointer;
}
