<section class="sect1 pb-3">
    <div class="container-fluid">
        <div class="row pt-3">
            <div class="col-lg-1"></div>
            <div class="col-sm-12 col-md-2 col-lg-2 text-start">
                <h6>Popular Locations</h6>
                <ul class="text-start">
                    <li>Kolkata</li>
                    <li>Mumbai</li>
                    <li>Chennai</li>
                    <li>Pune</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2 text-start">
                <h6>Trending Locations</h6>
                <ul class="text-start">
                    <li>Bhubaneshwar</li>
                    <li>Hyderabad</li>
                    <li>Chandigarh</li>
                    <li>Nashik</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2 text-start">
                <h6>About us</h6>
                <ul class="text-start">
                    <li>About BLX Group</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                    <li>BLX People</li>
                    <li>Waah Jobs</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2 text-start">
                <h6 class>BLX</h6>
                <ul class="text-start">
                    <li>Help</li>
                    <li>Sitemap</li>
                    <li>Legal & Privacy information</li>
                    <li>Blog</li>
                    <li>OLX Autos Sell Car </li>
                    <li>Vulnerability Disclosure Program</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 text-start">
                <h6>Follows us</h6>
                <div class="d-flex social">
                    <a href="https://www.facebook.com/olxindia/" target="_blank"><i class="pi pi-facebook me-2"
                            style="font-size: 1.5rem"></i></a>
                    <a href="https://www.instagram.com/olx_india/" target="_blank"><i class="pi pi-twitter me-2"
                            style="font-size: 1.5rem"></i></a>
                    <a href="https://twitter.com/OLX_India" target="_blank"><i class="pi pi-instagram me-2"
                            style="font-size: 1.5rem"></i></a>
                    <a href="https://www.youtube.com/user/OLXInTv" target="_blank"><i class="pi pi-youtube me-2"
                            style="font-size: 1.5rem"></i></a>
                </div>
                <a href="https://apps.apple.com/in/app/olx-buy-sell-near-you/id913492792?utm_source=desktop_ios&utm_medium=home_banner&utm_campaign=home"
                    target="_blank">
                    <img class="mt-5 me-3" src="{{appstore}}"></a>
                <a href="https://apps.apple.com/in/app/olx-buy-sell-near-you/id913492792" target="_blank">
                    <img class="mt-5" src="{{playstore}}"></a>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<section class="sect2">
    <div class="container-fluid">
        <div class="row d-flex pt-3 pb-3">
            <div class="col-lg-1"></div>
            <div class="col-sm-12 col-md-6 col-lg-5 text-start">
                <span><b>Other countries</b></span><br />
                <span id="countries">Indonesia - Pakistan - South Africa</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 text-end">
                <span>All rights reserved © 2006-2023 OLX</span>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>