<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-2 text-center">
                <h3>Popular Locations</h3>
                <ul>
                    <li>Kolkata</li>
                    <li>Mumbai</li>
                    <li>Chennai</li>
                    <li>Pune</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 text-center">
                <h3>Trending Locations</h3>
                <ul>
                    <li>Bhubaneshwar</li>
                    <li>Hyderabad</li>
                    <li>Chandigarh</li>
                    <li>Nashik</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 text-center">
                <h3>About us</h3>
                <ul>
                    <li>About BLX Group</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                    <li>BLX People</li>
                    <li>Waah Jobs</li>
                </ul>
                <div class="col-sm-12 col-md-4 col-lg-2 text-center">
                    <h3>BLX</h3>
                    <ul>
                        <li>Help</li>
                        <li>Sitemap</li>
                        <li>Legal & Privacy information</li>
                        <li>Blog</li>
                        <li>OLX Autos Sell Car </li>
                        <li>Vulnerability Disclosure Program</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 text-center">
                    <div class="d-flex">
                    <a href=""><i class="pi pi-facebook"></i></a>
                    <a href=""><i class="pi pi-twitter"></i></a>
                    <a href=""><i class="pi pi-instagram"></i></a> 
                    <a href=""><i class="pi pi-youtube"></i></a>
                </div>
                <div class="d-flex">
                    <a href=""></a>
                    <a href=""></a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>