#Feature {
    z-index: 2;
    position: absolute;
    margin-top: -150px;
    background-color: #ffce32;
}

.leftborder {
    border-left: 5px solid #ffce32;
    margin-right: 25px;
}

#like {
    z-index: 3;
    position: absolute;
    margin-top: -150px;
    margin-left: 190px;
    background-color: rgb(255, 255, 255);
}

.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    &.is-active {
        transition-duration: 1s;
        background-position: -2800px 0;
    }
}