a {
  color: black;
}

.btn {
  border: none;
  color: #0c0c0c;
}

.sell {
  /* Set the desired width and height */
  width: 150px;
  height: 40px;

  /* Set the border radius to create a rounded button */
  border-radius: 20px;

  /* Add padding to create space between the text and the border */
  padding: 5px 10px;

  /* Set the font size and text color */
  font-size: 16px;
  color: #0c0c0c;

  /* Set the button background color */
  background-color: transparent;

  /* Set the default border color */
  border: 5px solid #FFC107;

  /* Set the transition for smooth color changes on hover */
  transition: border-color 0.3s;
  border-color: #2196F3 #0000ee rgb(245, 245, 9);

}

.btns:hover {
  background-color: #001C30;
  color: rgb(255, 255, 255);
}

.form-control {
  border-radius: 0%;
}

.form-control:focus {
  box-shadow: none;
  border-color: #001C30;
  border-radius: 0%;
  border-width: 3px;
}

.sell {
  width: 80px;
}

span {
  padding-top: 5px;
  padding-left: 5px;
}

.p-avatar.p-avatar-imag {
  width: 10px;
  height: 10px
}

.dropbtn {
  background: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #64CCC5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #001C30;
  color: #f9f9f9;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.mes-card {
  background-color: #176B87;
  color: #64CCC5;
}

.noti {
  color: #FFFFFF;
}

.mes-card:hover {
  color: #FFFFFF;
  border: 2px solid #FFF;
}