<p-toast position="top-center" key="tc"></p-toast>
<section class="mb-3" style="background-color: #64CCC5 !important;">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <!--logo-->
            <img src="assets/images/Blx_logo.png" alt="" width="80px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" id="nav" routerLink="">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav" routerLink="">Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="nav" routerLink="locations">Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav" routerLink="help">Help</a>
                    </li>
                </ul>
                <div class="input-group me-2 ms-4" *ngIf="showSearchBox">
                    <input type="search" (keyup)="searchTermEmit($event)" id="ser" class="form-control"
                        placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
                <div class="d-flex">
                    <button class="btn btn-outline-light me-2 btns" routerLink="signin" *ngIf="!hide">SignIn</button>
                    <button class="btn btn-outline-light me-2 btns" routerLink="signup" *ngIf="!hide">SignUp</button>
<div class="dropdown bg-none">
  <button *ngIf="hide" class="dropbtn"><button class="btn btn-outline-light text-dark me-2 ms-2 d-flex" *ngFor="let user of userlist" >
                        <p-avatar image="{{user.avatar}}" styleClass="mr-2"
                            shape="circle"></p-avatar><span>{{user.firstname}}</span></button></button>

  <div class="dropdown-content">
    <a href="#">  <a class="nav-link me-2 mt-2 heart" *ngIf="hide" routerLink="favourites"><i
                            class="fa-solid fa-heart fa-xl"></i></a></a>
    <a href="#"><i class="fa-regular fa-comments fs-3 mt-2 mx-3" *ngIf="hide"></i></a>
    <a href="#"><button class="btn btn-outline-light me-2 btns" (click)="logoutUser()" *ngIf="hide">Logout</button></a>
  </div>
</div>
<button class="me-2 sell shadow-lg" routerLink="post"><i class="fa-solid fa-plus"></i> Sell</button>
                </div>
            </div>
        </div>
    </nav>
</section>