.container{
    border: 1px solid gray;
    max-width: 60%;
    min-height: 70vh;
}
.container-fluid h3{
    font-size: 25px;
    font-weight: bold;
}

.postad .row{
    height: 10vh;
    
}
.postad .row h4{
    font-size: 20px;
    font-weight: bold;
}

mat-step{
    background-color: #609af8;
}

mat-form-field{
    display: block;
    width: 75%;
}

form button{
    background-color: #3f51b5;;
}

form button:hover{
    background-color:#3f51b5;;
    color: white;
    font-weight: bold;
}