<div class="container-fluid" id="helpLayer">
  <div
    class="container-fluid mt-3"
    style="background-image: url(assets/images/help_banner.png)"
    id="layer1"
  >
    <div class="row justify-content-center">
      <h4 class="text-center mt-5 pt-5 text-uppercase">
        HI.How can we help you?
      </h4>
      <div class="bg-white col-lg-7 col-md-6 col-sm-8 mx-auto mb-5">
        <span><i class="fa fa-search" aria-hidden="true"></i></span>
        <input
          type="text"
          class="col-8 m-3"
          placeholder="Search The Help Center"
        />
      </div>
    </div>
  </div>

  <div class="container-fluid" id="layer2">
    <h1 class="text-center">FAQs</h1>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-4 col-sm-11 card">
        <div class="card-body text-center">Contact Seller</div>
      </div>
    </div>
  </div>

  <div class="container mt-5 p-3" id="layer3">
    <h5>Promoted articles</h5>
    <a href="#" class="text-decoration-none">User Testimonials</a>
  </div>

  <div class="container-fluid mt-5" id="layer4">
<h4 class="text-uppercase text-center mt-5">Get your app today</h4>
<div class="text-center mt-5">
<img class="mx-3" src="assets/images/playstore_2x.webp" alt="">
<img src="assets/images/appstore_2x.webp" alt="">
</div>
  </div>
</div>
