<div class="container-fluid justify-content-center postad">
    <h3 class="text-center">POST YOUR AD</h3>
    <div class="container ">
        <div class="row text-align-center align-items-center justify-content-start">
            <h4>CHOOSE A CATEGORY</h4>
        </div>
        
        <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu> -->
        


    </div>
</div>
