<div class="container-fluid justify-content-center postad">
    <h3 class="text-center">POST YOUR AD</h3>
    <div class="container">
        <div class="row text-align-center align-items-center justify-content-start">
            <h4>CHOOSE A CATEGORY</h4>
        </div>
        <ul class="list-group">
            <a routerLink="/postad/Cars"><li  class="list-group-item list-group-item-dark"><i class="fa-solid fa-car"></i>Cars</li></a>
            <a routerLink="/postad/Motorcycle"><li  class="list-group-item list-group-item-dark"><i class="fa-solid fa-motorcycle"></i>Motorcycle</li></a>
            <a href="http://"><li  class="list-group-item list-group-item-dark"><img src="/assets/images/motorcycle.png" alt="" height="22px" srcset="">Scooters</li></a>
            <a href="http://"><li  class="list-group-item list-group-item-dark"><i class="fa-solid fa-bicycle"></i>Bicycle</li></a>
        </ul>
    </div>
</div>

