<div class="container-fluid mb-5 mt-5" *ngFor="let item of model" style="margin-top: 100px ">
    <div class="container">
        <div class="row d-flex">
            <div class="col-6">
                <img class="card-img imgView" src="{{ item.imagelink }}" />
            </div>

            <div class="col-6">
                <div class="card  p-1">
                    <div class="card ps-2">
                        <h1>{{item.adtitle}}({{item.year}})</h1>
                        <h3><span class="price">{{ item.price | currency : "INR" : "symbol" : "3.0" }}</span></h3><br>
                        <p><span class="me-2 ms-2"><b>Brand</b>:{{item.brand}}</span> |<span class="me-2 ms-2"> <i class="fa-solid fa-gauge fs-6"></i> {{item.kmdriven}}<b>Km</b></span>|<span class="me-2 ms-2">({{item.year}}) <b>model</b></span><br><br><b>Description </b>:{{item.description}}<br><br></p>
                    </div>
                </div>
                <div class="card  p-1 mt-2 ">
                    <div class="card  d-flex" id="car-icons">
                        <div class="text-center mt-3"><i class="fa-solid fa-clipboard-check"></i>
                            <p class="caption"><b>Verified Seller</b></p>
                        </div>
                        <div class="text-center mt-3"><i class="fa-solid fa-screwdriver-wrench"></i>
                            <p class="caption"><b>Test Drive</b></p>
                        </div>
                        <div class="text-center mt-3"><i class="fa-solid fa-building-shield"></i>
                            <p class="caption"><b>Return Policy</b></p>
                        </div>
                        <div class="text-center mt-3"><i class="fa-solid fa-ranking-star"></i>
                            <p class="caption"><b>Top Brand</b></p>
                        </div>
                        <div class="text-center mt-3"><i class="fa-solid fa-people-carry-box"></i>
                            <p class="caption"><b>Quality service</b></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>