<section>
    <div class="container">
        <h1 class="text-center">`Your Favourites`</h1>
    </div>
    <hr>
    <div class="container" *ngIf="favourites.length==0; else favours" style="padding-bottom: 400px;">
        <div class="row">
            <h3 class="empty">Your shopping cart is empty!</h3>
            <button mat-raised-button color="primary" routerLink=''>Add Favourites</button>
        </div>
    </div>
    <ng-template #favours>
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 col-sm-7 col-md-6 col-lg-4 mb-3" *ngFor="let fav of favourites">
                    <div class="card" style="width: 18rem;">
                        <img src="{{fav.imagelink}}" class="card-img-top" alt="product">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="row">
                                    <div class="col-10">
                                        <strong>Brand : {{fav.brand}} <br></strong> 
                                        Model : {{fav.adtitle}}
                                    </div>
                                    <div class="col-2">
                                        <i class="fa-solid fa-heart-crack unfavorite" (click)="removeFav(fav)"></i>
                                    </div>
                                </div>
                            </h5>
                            <p class="card-text">
                                <strong>Price : {{fav.price | currency : "INR" : "symbol" : "3.0"}}</strong>
                            </p>
                            <button class="me-3" mat-icon mat-raised-button color="accent">{{fav.city}}
                                <mat-icon>place</mat-icon>
                            </button>
                            <button mat-icon mat-raised-button color="warn">{{fav.kmdriven}}
                                <mat-icon>motorcycle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</section>