.card-body{
    background-color: aliceblue;
}

.card{
    width:350px;
}

.card:nth-child(odd){
    border: 2px solid rgb(255, 38, 0);
}
.card:nth-child(even){
    border: 2px solid rgb(255, 0, 242);
}